/* global style */

.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 100;
}
/* logo */
.header__logo {
  width: 100px;
  object-fit: contain;
  margin: 0 20px;
  margin-top: 18px;
}
/* search */
.header__search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 24px;
}
.header__searchIcon {
  background-color: #cd9042;
  padding: 5px;
  height: 22px !important;
}
.header__searchInput {
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
}
/* nav option */

.header__nav{
  display: flex;
  justify-content: space-evenly;
}

/* navbar */
.header__option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: white
}
.header___optionLineOne{
  font-size: 10px;
}
.header___optionLineTwo{
  font-size: 13px;
  font-weight: 800;
}

/* basket */

.header__optionBasket{
  display: flex;
  align-items: center;
  color: white;
}

.header___optionBasketCount {
  margin-left: 10px;
  margin-right: 10px;
}